<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.ejs', {}); %>
    <title>Pinakes - <%=member.nickname%></title>
  </head>

  <body>
    <!-- Header-->
    <%- include('../partials/others/header.ejs', {}); %>
    <div class="container">

      <!-- Parte superior, sobre datos del usuario y su último libro-->
      <div class="row mb-4">

        <!-- Columna Lateral-->
        <div class="col-4">

          <!-- Perfil de usuario-->
          <%- include('../partials/others/member-basic-info-card.ejs', {}); %>

          <!-- Mis Colecciones-->
          <div class="p-1 mt-4 bg-success text-white">
            <%- include('../partials/others/list-collections-accordion.ejs', {}); %>
          </div>

          <div class="p-0 mt-4 bg-success opacity-75 text-white">
            <!-- Header de Peticiones-->
            <div class="row g-0">
              <div class="col-10 text-center">
                <h4>Mis Peticiones</h4>
              </div>
              <div class="col-2 text-end">
                <!-- Modal para Crear Petición -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new_petition_modal">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- Libros en Petición-->

              <ul class="list-group p-1">
                <% member.petitions.forEach(function (petition, i) { %>
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                    <%if (petition.shoppingLink != null) { %>
                    <i class="fa-solid fa-cart-shopping me-2"></i>
                    <% } %>
                    <strong><%=petition.title %></strong> (<%= petition.author.name %>)
                  </span>
                  <!-- Modal para Editar Petición -->
                  <button id="edit_petition_<%=petition.id%>_button" type="button"
                        class="edit-petition-button btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_petition_modal">
                    <i class="fa-solid fa-file-signature"></i>
                  </button>

                </li>
                <% }); %>
              </ul>
          </div>

        </div>
        <!-- Fin de la Columna Lateral-->


        <!-- Columna Central-->
        <div class="col-8 px-3">

          <!--Sobre el último libro añadido-->
          <div class="row mb-3">
            <div class="col-4">
              <div id="last_book_added_card" class="card text-center" name="last_book_added_card">
                <div class="card-header">
                  <h5><%=lastBookAdded.title%></h5>
                  <h8 class="text-black-50"> (<%=lastBookAdded.author.name%>)</h8>
                </div>
                <div class="card-body">
                  <a href="/books/<%=lastBookAdded.id%>">
                    <img class="img-fluid" style="width: 200px; height: 240px" src="<%=lastBookAdded.pic%>">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="mt-4">
                <div class="btn-group">
                  <button id="new_location_button" type="button"
                      class="btn btn-success"
                      data-bs-toggle="modal"
                      data-bs-target="#new_location_modal">
                    <i class="fa-light fa-plus fa-lg"></i>
                  </button>
                  <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-location-dot fa-lg"></i> Sedes
                  </button>
                  <ul class="dropdown-menu">
                      <% member.locations.forEach(function (location, i) { %>
                      <li class="list-group-item d-flex align-items-center">
                        <button id="edit_location_<%=location.id%>_button" type="button"
                            class="edit-location-button btn btn-light"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_location_modal">
                          <img class="img-thumbnail" style="width: 60px; height: 60px" src="<%=location.pic%>">
                          <strong><%=location.name %></strong>
                        </button>
                      </li>
                      <% }); %>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="mt-4">
                <div class="btn-group">
                  <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gavel fa-lg"></i> Reviews
                  </button>
                  <ul class="dropdown-menu">
                      <% member.reviews.forEach(function (e, i) { %>
                      <li class="list-group-item d-flex align-items-center">
                        <div class="col">
                          <a href="/books/<%=e.book.id%>">
                            <img class="img-thumbnail" style="width: 75px; height: 75px" src="<%=e.book.pic%>">
                          </a>
                        </div>
                        <div class="col">
                          <div class="badge bg-primary text-wrap">
                            <%=e.bookRate %>
                          </div>
                          <div class="badge bg-secondary text-wrap">
                            <%=e.copyRate %>
                          </div>
                        </div>
                      </li>
                      <% }); %>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- Final de la Parte superior-->

      <div class="row">
        <%- include('../partials/others/suggested-books-carousel.ejs', {}); %>
      </div>

    </div>
    <!-- Footer-->
    <%- include('../partials/others/footer.ejs', {}); %>

    <!-- Zona para Modals-->
    <%- include('../partials/modals/new-collection-modal.ejs', {}); %>
    <%- include('../partials/modals/delete-from-collection-modal.ejs', {}); %>
    <%- include('../partials/modals/move-orphan-book-modal.ejs', {}); %>
    <%- include('../partials/modals/new-petition-modal.ejs', {}); %>
    <%- include('../partials/modals/edit-petition-modal.ejs', {}); %>
    <%- include('../partials/modals/new-location-modal.ejs', {}); %>
    <%- include('../partials/modals/edit-location-modal.ejs', {}); %>

    <script type="text/javascript" src="/public/js/pages/member-profile.js"></script>

  </body>
</html>
