<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.ejs', {}); %>
    <title>Pinakes - Sign In</title>
  </head>

  <body>
    <div class="container">
      <div class="row my-5 g-5">

        <!-- Columna con las Citas diarias -->
        <div class="col-5">
          <div class="row">
            <div id="cite_pic" class="col my-3" name="cite_pic">
              <img src="<%=quote.pic%>" class="img-thumbnail" style="width: 275px; height: 300px">
            </div>
            <div class="col my-3">
              <figure>
                <blockquote id="cite_text" class="blockquote" name="cite_text">
                  <p><%=quote.text%></p>
                </blockquote>
                <figcaption id="cite_author" class="blockquote-footer mt-3" name="cite_author">
                  <span><%=quote.whose%></span>
                  <p><cite title="cite_author_data"><%=quote.why%></cite></p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <!-- Columna con la Sección de registro -->
        <div class="col-7">
          <div class="d-grid">

            <form id="sign_in_form" class="p-3 bg-light border" novalidate>
              <div class="input-group mb-4">
                <label for="sign_in_email" class="input-group-text">Usuario</label>
                <input id="sign_in_email" type="email" name="sign_in_email" class="form-control" placeholder="Introduzca su E-mail" required>
                <div class="invalid-feedback">
                  Escribe un Email
                </div>
              </div>

              <div class="input-group mb-4">
                <label for="sign_in_password" class="input-group-text">Contraseña</label>
                <input id="sign_in_password" type="password" name="sign_in_password" class="form-control" placeholder="Introduzca su Contraseña" required>
                <div class="invalid-feedback">
                  Escribe una Contraseña
                </div>
              </div>

              <div class="input-group mb-4">
                <div class="form-check">
                  <label for="remember_my_email_check" class="form-check-label">Recuerda mi email</label>
                  <input id="remember_my_email_check" class="form-check-input" type="checkbox" name="remember_my_email_check">
                </div>
              </div>

              <!-- Botón de SignIn y Recuperaciones de cuenta -->
              <div class="row">
                <div class="d-grid col-3 mx-auto">
                  <button id="sign_in_button" type="submit" class="btn btn-success" name="sign_in_button">
                    <h5>Entrar</h5>
                  </button>
                </div>
                <div class="d-grid col-6 mx-auto">
                  <button type="button" class="btn btn-primary" >
                    <a href="/" class="text-white text-decoration-none">
                      <h6>Busca un libro como Invitado</h6>
                    </a>
                  </button>
                </div>
              </div>
            </form>

            <!-- Línea de separación, y preguntas para SignUp y ContactForPassword -->
            <div class="dropdown-divider mt-5"></div>

            <div class="mb-2 mt-3">¿Aún no tienes una cuenta?
              <a href="#" rel="nofollow" class="nav-a">Empieza aquí</a>
            </div>
            <div class="mb-4">¿Olvidaste la contraseña?
              <a href="#" rel="nofollow" class="nav-a">Contacta aquí</a>
            </div>

          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="/public/js/pages/sign-in.js"></script>

  </body>
</html>
