<div class="row">
  <div class="col-5">
    <div id="last_book_added_card" class="card text-center" name="last_book_added_card">
      <div class="card-header">
        <h5><%=lastBookAdded.title%></h5>
        <h8 class="text-black-50"> (<%=lastBookAdded.author.name%>)</h8>
      </div>
      <div class="card-body">
        <a href="/books/<%=lastBookAdded.id%>">
          <img class="img-fluid" style="width: 166px; height: 222px" src="<%=lastBookAdded.pic%>">
        </a>
      </div>
    </div>
  </div>

  <div class="col-7">
  <%- include('./book-rating-card.ejs', {}); %>
  </div>
</div>
