<!-- Perfil de usuario-->
<div class="p-1 bg-light border">
  <div class="row">

    <div class="col">
      <a href="/members/<%=member.id%>">
        <img class="img-fluid" style="width: 240px; height: 180px" src="<%=member.pic%>">
      </a>
    </div>

    <div class="col mt-2">

      <div class="row mt-4">
        <div class="col">
          <i class="fa-solid fa-user-pen fa-lg"></i>
          <strong class="ms-3 text-success"><%=member.nickname%></strong>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <i class="fa-solid fa-hourglass fa-lg"></i>
          <strong class="ms-3 text-success"><%=member.addingDate%></strong>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <i class="fa-solid fa-book-open fa-lg"></i>
          <strong class="ms-1 text-success"><%=member.books.length%></strong>
        </div>
        <div class="col-auto">
          <i class="fa-solid fa-bookmark fa-lg"></i>
          <strong class="ms-1 text-success"><%=member.collections.length%></strong>
        </div>
        <div class="col-auto">
          <i class="fa-solid fa-map-pin fa-lg"></i>
          <strong class="ms-1 text-success"><%=member.petitions.length%></strong>
        </div>
      </div>

    </div>

  </div>
</div>
